body{
    background-color: #f0f2f5;
}

/* login page */
.loginpage{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
}

.cot1{
    margin-right:35%;
    margin-top:7%;
}

.cot2{
    padding-top: 8%;
    padding-bottom: 8%;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.loginbtn{
    width: 100%;
}
